@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');

/* eric css reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    /* 設定字型 */
    font-family:
    /*英⽂*/ "Noto Sans TC", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
    /*中⽂*/ "Noto Sans TC", "蘋⽅-繁", "PingFang TC", "⿊體-繁", "Heiti TC", "微軟正⿊體", "Microsoft JhengHei", sans-serif;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* 共用-自己設定的 */
img {
    display: block;
    width: 100%;
}
/* 文字樣式 */
h1 {
    /* Title/03 */
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 200%;
    /* identical to box height, or 88px */
    letter-spacing: 0.13em;
}
h4 {
    /* Body/01 */
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 200%;
    /* identical to box height, or 48px */
    letter-spacing: 0.1em;
}
h5 {
    /* Body/03 */
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 200%;
    /* or 40px */
    letter-spacing: 0.05em;
}
/*  取得<main>第一層的所有元素 */
main > *{
    height: 90vh;
}
/* 螢光筆：.highlight => mark */
/* .highlight {
    background-image: linear-gradient(transparent 50%, #FFDE89 50%);
    padding: 0rem 0.5rem;
    margin: 0rem -0.5rem;
    border-radius: 5px;
    display: inline-block;
} */
mark {
    background-color: transparent;
    background-image: linear-gradient(transparent 50%, #FFDE89 50%);
    padding: 0rem 0.5rem;
    margin: 0rem -0.5rem;
}
/* -------------------------------------------------------- */
/* 導覽列 */
img.logo{
    display: none;
    width: 23%;
}
#topbar{
    position: fixed;/*固定上方*/
    display: flex;
    justify-content: center;/* 主軸:置中 */
    top: 0;
    left: 0;
    z-index: 99;
    padding: 1.2rem;
    width: 100%;
}
nav{
    display: flex;
    justify-content:space-between;
    background-color: #fff;
    border-radius: 50px;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.25);
    font-size: 1.125rem;
}
.morelogo{
    width: 16%;
    margin:0 -1rem 0 1rem;
}
#topbar ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu{
    padding-top: 2px;/* 底線的高度 */
}
.menu a{
    display: block;
    text-decoration: none;
    font-weight: bold;
    color:#424242;
    padding: 0.5rem 0.8rem;
}
.menu a:hover{
	color: #C94344;
}
.menu li::after{
    content: "";
    display: block;
    width: 0%;
    height: 2px;
    background-color: #C94344;
}
.menu li:hover::after{
    width: 100%;
    /* transition: .1s; */
}
.menu a:active{
    color: #C94344;
}
.reserve_btn a{
    display: block;
    text-decoration: none;
    padding: 1rem 1.8rem;
    margin:0 1rem 0 -2rem;
    border-radius: 50px;
    background-color: #C94344;
    border: 2px solid transparent;
    font-weight: bold;
    color:#fff;
}
.reserve_btn a:hover{
    background-color: #FFEAEA;
    color: #C94344;
    border: 2px solid #C94344;
}
/* 頁尾區 */
footer {
    margin-top: 10vh;
    background-image: url(../image/Footer-bg.jpg);
	color: #621D1C;
	padding: 4rem;
	/* 內距會包含背景 */
	text-align: center;
}
.footer_icon a {
	display: block;
    margin-right: 2rem;
    width: 45px;
	height: 45px;
}
.icon-fb {
	background-image: url(../image/icon/fb.svg);
}
.icon-ig {
	background-image: url(../image/icon/ig.svg);
}
.icon-line {
	background-image: url(../image/icon/line.svg);
}
.icon-fb:hover{
    background-image: url(../image/icon/fb_h.png);
}
.icon-ig:hover{
    background-image: url(../image/icon/ig_h.png);
}
.icon-line:hover{
    background-image: url(../image/icon/line_h.png);
}
footer ul{
    display: flex;
	justify-content: center;
}
h2.footer_title{
    font-weight: bold;
    font-size: 1.25rem;
    padding: 0 .5rem .6rem .5rem;
    margin-bottom: 1.5rem;
    border-bottom: 5px solid #FFC42D;
}
.menu_title{
    font-weight: bold;
    font-size: 1rem;
    margin: 1rem 2.5rem;
    padding-bottom: 1rem;
    
}
.menu_title p{
    margin: 1rem 0;
    font-weight: 400;
}
.footer_menu{
    font-size: 1.125rem;
}
.footer_menu a{
    display: block;
    text-decoration: none;
    margin-bottom: 1.5rem;
    color: #621D1C;
}
.footer_menu li{
    display: flex;
    flex-direction: column;
}
.footer_reserve_btn img{
    width: 20%;
}
.footer_reserve_btn .r_btn{
    background-image: url(../image/icon/right_w.svg);
    width: 12px;
    height: 20px;
    margin-left: 3rem;
    margin-top: 5px;
}
.footer_reserve_btn a{
    margin-left: 3rem;
    padding: 1rem 3rem;
    display: flex;
    text-decoration: none;
    color: #fff;
    font-size: 1.25rem;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.2em;
    font-weight: 700;
    border: 2.5px solid #C94344;
    background-color: #C94344;
    border-radius: 50px;
}
.footer_reserve_btn{
    flex-direction: row;
    justify-content: center;
}
.footer_reserve_btn a:hover{
    background-color: transparent;
    color: #C94344;
    border: 2.5px solid #C94344;
}
.footer_reserve_btn a:hover .r_btn{
    background-image: url(../image/icon/right.svg);
}
.map{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1rem 0;
}
.map a{
    display:block;
    text-decoration: none;
    font-size: 0.875rem;
    font-weight: bold;
    color: #C94344;
    margin-left: .8rem;
    padding: .5rem 1.1rem;
    border-radius: 30px;
    border:2px solid #C94344;
}
footer > div{
    display: flex;
    flex-direction: column;
    /* 設定主軸為垂直 */
    justify-content: flex-start;
    /* 設定主軸(垂直)靠上 */
    align-items: center;
    /* 設定幅軸(水平)置中 */
}
/* -------------------------------------------------------- */
/* Banner */
#banner {
    height: 90vh;
    background-image: url(../image/about/Banner_bg.png);
    background-size: cover;
    background-position: bottom;
}
#banner img {
    margin: 0 auto;
}
/* RWD */
/* 1920px以上 */
@media (min-width: 1920px) {
#banner img {
    width: 800px;
    /* padding-top: 16rem; */
    padding-top: 22vh;
    /* padding: 40vh auto 20vh auto ; */
}
}
/* 1440-1919px */
@media (max-width: 1919px) {
/* 導覽列 */
nav{
    font-size: 1rem;
}
.logoMore img{
    width: 90%;
}
.reserve_btn a {
    padding: 0.8rem 1.5rem;
}
/* footer */
footer{
    margin-top: 2vh;
}
.footer_reserve_btn{
    margin-bottom: 1rem;
}
.footer_reserve_btn img {
    width: 17%;
}
.footer_reserve_btn a{
    font-size: 1rem;
    padding: 0.7rem 1.6rem;
}
.footer_reserve_btn .r_btn{
    margin-left: 2rem;
    margin-top: 2px;
}
h2.footer_title {
    font-size: 1rem;
}
.menu_title p {
    font-size: 0.875rem;
}
.map{
    font-size: 1rem;
}
.map a {
    font-size: 0.6875rem;
    padding: .4rem .7rem;
}
footer p{
    font-size: .75rem;
}
/* about區 */
#banner img {
    width: 640px;
    /* padding-top: 15rem; */
    padding-top: 25vh;
}
}
@media (min-width:1440px){
	.hamburger {
		display: none;
	}
}
/* 768-1439px */
@media (max-width: 1439px) {
/* 導覽列 */
#topbar{
    justify-content: space-between;
    background: rgba(255, 255, 255,0.8);
    padding: 0.7rem;
}
#topbar ul {
    justify-content: center;
}
#topbar a{
    display: block;
}
img.logo{
    display: flex;
    width: 155px;
    height: auto;
}
/* 漢堡按鈕  */
.hamburger {
    display: inline-block;/* 自動抓內容(.bar)的尺寸 */
    cursor: pointer;
    /* 取消button預設樣式 */
    background-color: transparent;
    background: #C94344;
    border-radius: 50px;
    border: 3px solid #F88D8E;
    margin-right: 1rem;
}

.bar {
    display: block;/* 修改span行內元素為區塊 */
    width: 25px;
    height: 3px;
    margin: 6px 15px;
    border-radius: 20px;
    background-color: #FFFFFF;
    transition: all 0.3s ease-in-out;
}

.hamburger.is-active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.is-active .bar:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
}

.hamburger.is-active .bar:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
}
ul.morelogo{
    width: 0%;
}
.reserve_btn{
    margin-left: 2rem;
}
.navigation {
    display: none;
    position: absolute;
    top: 95px;
    right: 0;
    padding: 0 20px;
    border-radius: 5px;
    font-size: 1.5rem;
    background-color: rgb(255, 255, 255,0.8);
    backdrop-filter: blur(5px);
    animation: navigation 0.35s both;
}
.menu{
    padding: 2rem 0;
}
.reserve_btn {
    margin-left: 0;
    margin-bottom: 2rem;
}
.reserve_btn a{
    padding: 1rem 1.8rem;
    margin: 0 auto;
}
#banner{
    height: 80vh;
}
/* footer */
#fixedTop{
    bottom: 4rem;
    right: 2rem
}
footer p{
    font-size: 0.75rem;
}
.footer_menu{
    display: none;
}

.footer_reserve_btn {
    flex-direction: column;
}
.footer_reserve_btn img {
    width: 30%;
}
.footer_reserve_btn a{
    font-size: 1.06rem;
    padding: 1rem 2rem;
    margin: 1rem 0;
}
.footer_reserve_btn{
    margin:1rem 0 5rem 0;
}
footer ul{
    margin-left: 2rem;
}
.map{
    font-size: 1rem;
}
.map a{
    padding: 0.35rem 0.8rem;
    font-size: 0.68rem;
}
@keyframes navigation {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}
.navigation.show {
    display: block;
    animation: show 0.35s both;
}
@keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.menu {
    flex-direction: column;
    /* 取消玻璃擬態效果 */
    background-color: transparent;
    backdrop-filter: none;
    border: none;
    box-shadow: none;
}
.menu a {
    padding: 15px 10px;
}
/* #banner {
    height: 70vh;
} */
#banner img {
    width: 500px;
    /* padding-top: 18rem; */
    padding-top: 30vh;
}
}
/* 767px以下 */
@media (max-width: 767px) {
/* top按鈕 */
#fixedTop {
    bottom: 1rem;
    right: 1rem;
}
/* 導覽列 */
#topbar{
    padding: 0.2rem;
}
img.logo {
    width: 133px;
    height: auto;
}
.hamburger {
    padding: 1rem 0.5rem;
    margin: 0.5rem;
}
.bar {
    width: 20px;
    height: 2px;
    margin: 4px 10px;
    border-radius: 20px;
}
.hamburger.is-active .bar:nth-child(1) {
    transform: translateY(6px) rotate(45deg);
}

.hamburger.is-active .bar:nth-child(3) {
    transform: translateY(-6px) rotate(-45deg);
}
ul.morelogo{
    width: 0%;
}
#topbar ul {
    margin-left: 4rem;
}
.navigation{
    background-color: rgb(255, 255, 255,0.9);
    top: 68px;
    right: 0;
    padding: 10px 45px;
    border-radius: 25px;
    width: 100%;
    font-size: 1.5rem;
}
.reserve_btn{
    margin-left: 0;
}
#fixedTop img {
    width: 25px;
    height: 25px;
}
/* about區 */
#banner {
    height: 47vh;
}
#banner img {
    width: 207px;
    padding-top: 20vh;
}
/* footer */
.footer_reserve_btn img {
    width: 180px;
    height: auto;
}
.footer_reserve_btn a {
    font-weight: 500;
    font-size: 0.93rem;
    padding: 0.7rem 2.3rem;
}
.footer_reserve_btn a img {
    width: 8px;
}
.footer_reserve_btn {
    margin-bottom: 1rem;
}
.footer_reserve_btn .r_btn{
    background-image: url(../image/rwd390/right_w.png);
    width: 7px;
    height: 12px;
    margin-left: 2rem;
    margin-top: 5px;
}
.footer_reserve_btn a:hover .r_btn{
    background-image: url(../image/rwd390/right_r.png);
}
.footer_icon a {
    width: 32px;
    height: 30px;
}
.icon-fb {
    background-image: url(../image/rwd390/fb.png);
}
.icon-ig {
    background-image: url(../image/rwd390/ig.png);
}
.icon-line {
    background-image: url(../image/rwd390/line.png);
}
.icon-fb:hover {
    background-image: url(../image/rwd390/fb.png);
}
.icon-ig:hover {
    background-image: url(../image/rwd390/ig.png);
}
.icon-line:hover {
    background-image: url(../image/rwd390/line.png);
}
.map a{
    display: none;
}
.map {
    font-size: 0.875rem;
    margin-bottom: 4rem;
}
footer{
    padding: 4rem 0 0 0;
}
footer p {
    padding: 1rem 5rem;
    line-height: 180%;
    color: #616161;
    background-color: #FFF0CA;
    font-size: 0.75rem;
}
}

/* Intro區 */
#intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 60%; */
    width: 100%;
    margin: 0px auto;
    /* position: relative; */
    /* overflow-x: hidden; */
}
#intro .photo {
    /* width: 40%; */
    /* margin-right: 20%; */
    width: 100%;
    margin: auto;
}
#intro .photo img {
    position: relative;
}
/* 文字區塊 */
#intro .text {
    /* width: 40%; */
    /* margin-top: 10%; */
    text-align: left;
}
#intro .title {
    display: flex;
    margin-left: -30px;
    margin-bottom: 50px;
    align-items: center;
}
#intro .title h4 {
    margin-top: 15px;
    margin-bottom: -15px;
}
#intro .title_icon {
    /* float: left; */
    margin-right: 5px;
}
#intro .title_icon img {
    width: 104px;
}
#intro .title_text h4 {
    /* Secondary/Default */
    color: #F88D8E;
}
#intro .intro_text {
    /* Black/900 */
    color: #212121;
}

/* RWD */
/* 1920px以上 */
@media (min-width: 1920px){
#intro {
    max-width: 1200px;
}
#intro .photo {
    max-width: 520px;
    position: relative;
}
#intro .photo::after {
    /* content: ""; */
    /* background: url('../image/about/Vector_2.png'); */
    /* background-size: 200px auto; */
    content: url('../image/about/geometry_pink.png');
    display: block;
    width: 200px;
    /* height: auto; */
    position: absolute;
    bottom: -200px;
    left: -200px;
    z-index: -1;
}
#intro .text {
    margin-left: 7rem;
    padding-top: 17rem;
}
}
/* 1440-1919px */
@media (max-width: 1919px){
#intro {
    max-width: 1000px;
}
#intro .photo {
    max-width: 400px;
    position: relative;
}
#intro .photo::after {
    content: url('../image/about/geometry_pink_md.png');
    display: block;
    position: absolute;
    bottom: -150px;
    left: -140px;
    z-index: -1;
}
#intro h4 {
    font-size: 20px;
    letter-spacing: 0.05em;
}
#intro h1 {
    font-size: 36px;
    letter-spacing: 0.15em;
}
#intro h5 {
    font-size: 18px;
}
#intro .title_icon img {
    width: 85px;
}
#intro .text {
    margin-left: 7rem;
    padding-top: 17rem;
}
}
/* 768-1439px */
@media (max-width: 1439px){
#intro {
    max-width: 700px;
}
#intro .photo {
    max-width: 280px;
}
#intro .photo::after {
    content: '';
}
#intro h4 {
    font-size: 16px;
    letter-spacing: 0.05em;
}
#intro h1 {
    font-size: 30px;
    letter-spacing: 0.15em;
}
#intro h5 {
    font-size: 14px;
}
#intro .title_icon img {
    width: 71px;
}
}
/* 767px以下 */
@media (max-width: 767px){
#intro {
    flex-direction: column;
}
#intro .photo {
    max-width: 240px;
    order: 1;
}
#intro .title {
    text-align: left;
    margin-left: 1.5rem;
}
#intro .text {
    text-align: center;
    margin-left: 0;
    padding-top: 5rem;
    /* margin-bottom: 1.5rem; */
}
#intro h4 {
    font-size: 22px;
    letter-spacing: 0.05em;
}
#intro h1 {
    font-size: 34px;
    letter-spacing: 0.1em;
}
#intro h5 {
    font-size: 15px;
}
#intro .title_icon img {
    width: 85px;
}
}

/* 色塊背景 => 原本用position */
/* #intro {
    position: relative;
 } 
   #intro .bg_vector_1 {
    position: absolute;
    width: 33%;
    top: -25vh;
    right: -25vw;
    z-index: -1;
}
#intro .bg_vector_2 {
    position: absolute;
    width: 20%;
    top: 28vh;
    left:-7vw;
} */

/* Logo介紹區 */
#logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 60%; */
    width: 100%;
    margin: 0px auto;
    /* overflow-x: hidden; */
}
#logo .logo {
    /* width: 35%; */
    width: 100%;
    /* margin-top: 15%; */
    margin: auto;
}
#logo .text {
    /* width: 40%; */
    text-align: left;
    /* margin-left: 5%;
    margin-right: 20%; */
}
#logo .title {
    display: flex;
    margin-left: -30px;
    margin-bottom: 50px;
    align-items: center;
}
#logo .title h4 {
    margin-top: 15px;
    margin-bottom: -15px;
}
#logo .title_icon {
    margin-right: 5px;
}
#logo .title_icon img {
    width: 104px;
}
#logo .title_text h4 {
    color: #EC9441;
}
#logo .logo_text {
    color: #212121;
}

/* RWD */
/* 1920px以上 */
@media (min-width: 1920px){
#logo {
    max-width: 1200px;
}
#logo .logo {
    max-width: 440px;
    padding-top: 13rem;
    margin: auto 2rem auto 7rem;
    position: relative;
}
#logo .logo::after {
    content: url('../image/about/geometry_yellow.png');
    display: block;
    position: absolute;
    top: 120px;
    right: -180px;
    z-index: -1;
}
#logo .text {
    margin: auto 5rem;
}
}
/* 1440-1919px */
@media (max-width: 1919px){
#logo {
    max-width: 1000px;
    height: 100vh;
}
#logo .logo {
    max-width: 360px;
    margin-left: 7rem;
    padding-top: 10rem;
    position: relative;
}
#logo .logo::after {
    content: url('../image/about/geometry_yellow_md.png');
    display: block;
    position: absolute;
    top: 110px;
    right: -120px;
    z-index: -1;
}
#logo h4 {
    font-size: 20px;
    letter-spacing: 0.05em;
}
#logo h1 {
    font-size: 36px;
    letter-spacing: 0.15em;
}
#logo h5 {
    font-size: 18px;
}
#logo .title_icon img {
    width: 85px;
}
#logo .text {
    margin: auto 5rem;
}
}
/* 768-1439px */
@media (max-width: 1439px){
#logo {
    max-width: 700px;
}
#logo .logo {
    max-width: 240px;
}
#logo .logo::after  {
    content: "";
}
#logo h4 {
    font-size: 16px;
    letter-spacing: 0.05em;
}
#logo h1 {
    font-size: 30px;
    letter-spacing: 0.15em;
}
#logo h5 {
    font-size: 14px;
}
#logo .title_icon img {
    width: 71px;
}
#logo .text {
    margin: auto 2rem;
}
}
/* 767px以下 */
@media (max-width: 767px){
#logo {
    flex-direction: column;
}
#logo .logo {
    max-width: 200px;
    order: 1;
    margin: -5rem auto auto auto; 
}
#logo .title {
    text-align: left;
    margin-left: 0.15rem;
}
#logo .text {
    text-align: center;
    padding-top: 3rem;
    /* margin-bottom: 1.5rem; */
}
#logo h4 {
    font-size: 22px;
    letter-spacing: 0.05em;
}
#logo h1 {
    font-size: 34px;
    letter-spacing: 0.1em;
}
#logo h5 {
    font-size: 15px;
}
#logo .title_icon img {
    width: 85px;
}
}

/* 色塊背景 */
/* #logo .bg_vector_3 {
    position: absolute;
    width: 13%;
    top: -3vh;
    left:16vw;
    z-index: -1;
} */