@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');
/* eric css reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
	/* 不累加邊框與內距 */
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
		"蘋方-繁", "PingFang TC", "Noto Sans TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", sans-serif;
}
ol,ul {
	list-style: none;
}
blockquote,q {
	quotes: none;
}
blockquote:before,blockquote:after,q:before,q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* 共用 */
body{
  font-family: 'Noto Sans TC', sans-serif;
}
img {
  display: block;
  width: 100%;
}
section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
img.logo{
  display: none;
  width: 23%;
}
/* 導覽列 */
#topbar{
  position: fixed;/*固定上方*/
  display: flex;
  justify-content: center;/* 主軸:置中 */
  top: 0;
  left: 0;
  z-index: 99;
  padding: 1.2rem;
  width: 100%;
}
nav{
  display: flex;
  justify-content:space-between;
  background-color: #fff;
  border-radius: 50px;
  box-shadow: 0px 2px 6px rgba(0,0,0,0.25);
  font-size: 1.125rem;
}
.morelogo{
  width: 16%;
  margin:0 -1rem 0 1rem;
}
#topbar ul{
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu{
  padding-top: 2px;/* 底線的高度 */
}
.menu a{
  display: block;
  text-decoration: none;
  font-weight: bold;
  color:#424242;
  padding: 0.5rem 0.8rem;
}
.menu a:hover{
color: #C94344;
}
.menu li::after{
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background-color: #C94344;
}
.menu li:hover::after{
  width: 100%;
  /* transition: .1s; */
}
.menu a:active{
  color: #C94344;
}
.reserve_btn a{
  display: block;
  text-decoration: none;
  padding: 1rem 1.8rem;
  margin:0 1rem 0 -2rem;
  border-radius: 50px;
  border: 2px solid transparent;
  background-color: #C94344;
  font-weight: 700;
  color:#fff;
}
.reserve_btn a:hover{
  background-color: #FFEAEA;
  color: #C94344;
  border: 2px solid #C94344;
}
/* 頁尾區 */
footer {
  margin-top: 10vh;
  background-image: url(../image/Footer-bg.jpg);
  color: #621D1C;
  padding: 4rem;
  /* 內距會包含背景 */
  text-align: center;
}
.footer_icon a {
  display: block;
  margin-right: 2rem;
  width: 45px;
  height: 45px;
}
.icon-fb {
background-image: url(../image/icon/fb.svg);
}
.icon-ig {
background-image: url(../image/icon/ig.svg);
}
.icon-line {
background-image: url(../image/icon/line.svg);
}
.icon-fb:hover{
  background-image: url(../image/icon/fb_h.png);
}
.icon-ig:hover{
  background-image: url(../image/icon/ig_h.png);
}
.icon-line:hover{
  background-image: url(../image/icon/line_h.png);
}
footer ul{
  display: flex;
justify-content: center;
}
h2.footer_title{
  font-weight: 500;
  font-size: 1.25rem;
  padding: 0 .5rem .6rem .5rem;
  margin-bottom: 1.5rem;
  border-bottom: 5px solid #FFC42D;
}
.menu_title{
  font-weight: 400;
  font-size: 1.125rem;
  margin: 1rem 2.5rem;
  padding-bottom: 1rem;
  
}
.menu_title p{
  margin: 1rem 0;
  font-weight: 400;
}
.footer_menu{
  font-size: 1.125rem;
}
.footer_menu a{
  display: block;
  text-decoration: none;
  margin-bottom: 1.5rem;
  color: #621D1C;
}
.footer_menu li{
  display: flex;
  flex-direction: column;
}
.footer_reserve_btn img{
  width: 20%;
}
.footer_reserve_btn .r_btn{
  background-image: url(../image/icon/right_w.svg);
  width: 12px;
  height: 20px;
  margin-left: 3rem;
  margin-top: 5px;
}
.footer_reserve_btn a{
  margin-left: 3rem;
  padding: 1rem 3rem;
  display: flex;
  text-decoration: none;
  color: #fff;
  font-size: 1.25rem;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.2em;
  font-weight: 700;
  border: 2.5px solid #C94344;
  background-color: #C94344;
  border-radius: 50px;
}
.footer_reserve_btn{
  flex-direction: row;
  justify-content: center;
}
.footer_reserve_btn a:hover{
  background-color: transparent;
  color: #C94344;
  border: 2.5px solid #C94344;
}
.footer_reserve_btn a:hover .r_btn{
  background-image: url(../image/icon/right.svg);
}
.map{
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-weight: 400;
  font-size: 1.25rem;
  margin: 1rem 0;
}
.map a{
  display:block;
  text-decoration: none;
  font-size: 0.875rem;
  font-weight: 700;
  color: #C94344;
  margin-left: .8rem;
  padding: .5rem 1.1rem;
  border-radius: 30px;
  border:2px solid #C94344;
}
footer > div{
  display: flex;
  flex-direction: column;
  /* 設定主軸為垂直 */
  justify-content: flex-start;
  /* 設定主軸(垂直)靠上 */
  align-items: center;
  /* 設定幅軸(水平)置中 */
}
/* top按鈕 */
#fixedTop img{
  width: 40px;
  height: 40px;
}
#fixedTop{
  color: #fff;
  text-decoration:none;
  background-color:#FFC42D;
  border-radius: 50px;
  position: fixed;
  padding: 10px;
  right: 20px;
  bottom: 20px;
  z-index: 99;
  display: none;
}
/* ------------------------------------------- */
/* banner */
#banner{
  background-image: url(../image/member/Banner-bg.jpg);
  background-size:cover;
  background-position: bottom;
  height: 90vh;
}
#banner img{
  width: 18%;
  height: auto;
}
#banner h1{
  font-weight: 700;
  font-size: 3.875rem;
  line-height: 6.25rem;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  
  margin-top: -3rem;
  padding: 2rem 2rem 2rem 3rem;
  background: #8C4948;
  border: 13px solid #F0B278;
  border-radius: 860px;
}
/* member_table */
  #member_table{
    width: 100%;
    position: relative;
    overflow: hidden;
  }
  img.table{
    width: 38%;
    margin: 15vh 0;
  }
  img.pinkBlock{
    position: absolute;
    width: 20%;
    height: auto;
    top:30vh;
    left: -8%;
  }
  img.yellowBlock{
    position: absolute;
    width: 20%;
    height: auto;
    top:60vh;
    right: -8%;
  }
/* counter */
#count{
  background-image: url(../image/member/counter-bg.png);
  background-size: 100% 100%;
  height: 80vh;
  display: flex;
  flex-direction: row;
}
.number_item,
.number_item1,
.number_item2{
  padding: 1rem 7rem;
}
.number_item p,
.number_item1 p,
.number_item2 p{
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 4rem;
  text-align: center;
  letter-spacing: 0.1em;
  color: #621D1C;
}
.number_item1,
.number_item2{
  border-left: 1px solid #F88D8E;
}
.num{
  display: flex;
  flex-direction: row;
  align-items: center;
}
p.counter {
  font-weight: 900;
  font-size: 6.25rem;
  line-height: 10rem;
  letter-spacing: 0.05em;
  color: #C94344;
}
.num span{
  font-weight: 500;
  font-size: 5.625rem;
  line-height: 200%;
  letter-spacing: 0.05em;
  color: #F88D8E;
}
/* experience */
figure.rwd_pic{
  display: none;
}
#experience{
  position: relative;
}
img.orangeBlock{
  position: absolute;
  width: 10%;
  height: auto;
  top: -5vh;
  left: 10%;
}
img.yellowBlock2{
  position: absolute;
  width: 10%;
  height: auto;
  bottom: -20vh;
  right: 5%;
}
.experience_title{
  width: 40%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 10vh;
}
.experience_title img{
  width: 20%;
}
.title_text{
display: flex;
flex-direction: column;
}
.title_text p{
  font-weight: 700;
  font-size: 2.75rem;
  line-height: 5.5rem;
  letter-spacing: 0.13em;
  color: #000000;
}
.title_text span{
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 3rem;
  letter-spacing: 0.1em;
  color: #F0B278;
}

/* carousel 輪播css*/
  .hero-slider {
    width: 70%;
    height: 70vh;
    overflow: hidden;
  }
  .hero-slider .carousel-cell {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .hero-slider .carousel-cell .inner {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  .hero-slider .carousel-cell .inner .subtitle {
    font-family: "Roboto Slab", serif;
    font-size: 2.2rem;
    line-height: 1.2em;
    font-weight: 200;
    font-style: italic;
    letter-spacing: 3px;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 5px;
  }
  .hero-slider .carousel-cell .inner .title {
    font-family: "Montserrat", sans-serif;
    font-size: 3rem;
    line-height: 1.2em;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 40px;
  }
  .hero-slider .carousel-cell .inner .btn {
    border: 1px solid #fff;
    padding: 14px 18px;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-size: 0.8rem;
    letter-spacing: 3px;
    color: #fff;
    text-decoration: none;
    transition: all 0.2s ease;
  }
  .hero-slider .carousel-cell .inner .btn:hover {
    background: #fff;
    color: #000;
  }
  .hero-slider .flickity-prev-next-button {
    width: 80px;
    height: 80px;
    background: transparent;
  }
  .hero-slider .flickity-prev-next-button:hover {
    background: transparent;
  }
  .hero-slider .flickity-prev-next-button .arrow {
    fill: #8C4948;/* 線條填色 */
    stroke:#8C4948;/* 邊框 */
    stroke-width:15px;/* 邊框-厚度 */
    stroke-linecap:round;/* 邊框端點-圓角 */
    stroke-linejoin:round;/* 邊框尖角-圓角 */
  }
  .hero-slider .flickity-page-dots {
    bottom: 30px;
  }
  .hero-slider .flickity-page-dots .dot {
    width: 30px;
    height: 4px;
    opacity: 1;
    background: rgba(255, 255, 255, 0.5);
    border: 0 solid white;
    border-radius: 0;
  }
  .hero-slider .flickity-page-dots .dot.is-selected {
    background: #8C4948;
    border: 0 solid #8C4948;
  }
  img.member_title{
    width: 20%;
    margin-bottom: -2.5rem;
    margin-right: 42%;
    z-index: 1;
  }
  .member_item{
    width: 70%;
    height: 50vh;
    display: flex;
    border: 7px solid #F0B278;
    border-radius: 120px 1000px 1000px 120px;
    align-items: center;
  }
  .member_text{
    margin: 0 3rem;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 2.5rem;
    letter-spacing: 0.05em;
    color: #212121;
    flex: 1.5;
    text-align: start;
  }
  .member_text p{
    margin-top: 1rem;
  }
  .member_text span{
    font-weight: 700;
  }
  figure{
    flex: 1;
    width: 50%;
    height: 49vh;
    overflow: hidden;
    border-radius: 0px 1000px 1000px 0px;
  }
  figure img{
    object-fit: cover;
    height: 100%;
}
@media (max-width:1919px) {
  /* 導覽列 */
  nav{
      font-size: 1rem;
  }
  .logoMore img{
      width: 90%;
  }
  .reserve_btn a {
      padding: 0.8rem 1.5rem;
  }
  /* footer */
  footer{
      margin-top: 2vh;
  }
  .footer_reserve_btn{
      margin-bottom: 1rem;
  }
  .footer_reserve_btn img {
      width: 17%;
  }
  .footer_reserve_btn a{
      font-size: 1rem;
      padding: 0.7rem 1.6rem;
  }
  .footer_reserve_btn .r_btn{
      margin-left: 2rem;
      margin-top: 2px;
  }
  h2.footer_title {
      font-size: 1rem;
  }
  .menu_title p {
      font-size: 0.875rem;
  }
  .map{
      font-size: 1rem;
  }
  .map a {
      font-size: 0.6875rem;
      padding: .4rem .7rem;
  }
  footer p{
      font-size: .75rem;
  }
  /* 會員區 */
  #banner{
    height: 90vh;
  }
  #banner h1{
    font-size: 2.9rem;
    padding: 0.8rem 2rem 0.8rem 3.5rem;
    border: 9px solid #F0B278;
  }
  #banner img{
    width: 254px;
    height: auto;
  }
  img.table {
    width: 38%;
    margin: 10vh 0;
  }
  img.pinkBlock {
    width: 16%;
    top: 20vh;
    left: -5%;
  }
  img.yellowBlock {
    width: 18%;
    top: 50vh;
    right: -6%;
  }
  #count{
    height: 60vh;
  }
  .number_item p, .number_item1 p, .number_item2 p{
    line-height: 1rem;
    font-size: 1.875rem;
  }
  p.counter{
    font-size: 4.68rem;
  }
  .num span{
    font-size: 4.18rem;
  }
  img.orangeBlock {
    width: 15%;
    top: -10vh;
    left: 10%;
  }
  .experience_title img{
    width: 85px;
    height: auto;
  }
  .title_text span{
    font-size: 1.25rem;
  }
  .title_text p{
    font-size: 2.25rem;
  }
  .hero-slider .flickity-prev-next-button .arrow{
    stroke-width: 10px;
  }
  img.member_title{
    width: 273px;
    height: auto;
    margin-right: 30%;
  }
  .member_item{
    height: 40vh;
  }
  figure{
    height: 39vh;
  }
  .member_text{
    font-size: 1.125rem;
    line-height: 200%;
  }
  .hero-slider{
    margin-top: -5vh;
    margin-left: 8rem;
  }
  .hero-slider .flickity-page-dots{
    bottom: 60px;
  }
  img.yellowBlock2{
    width: 15%;
    bottom: -10vh;
  }
}
@media (min-width:1440px){
	.hamburger {
		display: none;
	}
}
@media (max-width:1439px) {
    #topbar{
        justify-content: space-between;
        background: rgba(255, 255, 255,0.8);
        padding: 0.7rem;
    }
	#topbar ul {
		justify-content: center;
	}
    #topbar a{
        display: block;
    }
    img.logo{
        display: flex;
        width: 155px;
        height: auto;
    }
	/* 漢堡按鈕  */
	  .hamburger {
		  display: inline-block;/* 自動抓內容(.bar)的尺寸 */
		  cursor: pointer;
		  /* 取消button預設樣式 */
		  background-color: transparent;
      background: #C94344;
      border-radius: 50px;
      border: 3px solid #F88D8E;
      margin-right: 1rem;
	}

	.bar {
		display: block;/* 修改span行內元素為區塊 */
		width: 25px;
		height: 3px;
		margin: 6px 15px;
    border-radius: 20px;
		background-color: #FFFFFF;
		transition: all 0.3s ease-in-out;
	}

	.hamburger.is-active .bar:nth-child(2) {
		opacity: 0;
	}

	.hamburger.is-active .bar:nth-child(1) {
		transform: translateY(9px) rotate(45deg);
	}

	.hamburger.is-active .bar:nth-child(3) {
		transform: translateY(-9px) rotate(-45deg);
	}
    ul.morelogo{
      width: 0%;
  }
	.navigation {
		display: none;
		position: absolute;
		top: 95px;
		right: 0;
		padding: 0 20px;
		border-radius: 5px;
    font-size: 1.5rem;
		background-color: rgb(255, 255, 255,0.8);
		backdrop-filter: blur(5px);
		animation: navigation 0.35s both;
	}
  .menu{
    padding: 2rem 0;
  }
  .reserve_btn {
      margin-left: 0;
      margin-bottom: 2rem;
  }
  .reserve_btn a{
      padding: 1rem 1.8rem;
      margin: 0 auto;
  }
  /* 會員區 */
  #banner{
    height: 70vh;
  }
  #banner h1{
    font-size: 2.18rem;
    padding: 0.5rem 1rem 0.5rem 3rem;
    border: 9px solid #F0B278;
  }
  #banner img{
    width: 191px;
    height: auto;
  }
  img.yellowBlock,
  img.pinkBlock{
    width: 0;
  }
  img.table {
    margin: 5vh 0;
  }
  .number_item p, .number_item1 p, .number_item2 p {
    font-size: 1.25rem;
    line-height: 200%;
  }
  p.counter {
    font-size: 3.125rem;
  }
  .num span {
    font-size: 2.81rem;
  }
  #count {
    height: 38vh;
    background-size: 200% 100%;
  }
  .number_item, .number_item1, .number_item2 {
    padding: 1rem 5rem;
  }
  #experience{
    height: 90vh;
    justify-content: space-around;
  }
  .experience_title{
    margin-top: 6vh;
  }
  .experience_title img{
    width: 70px;
  }
  .title_text span{
    font-size: 1.03rem;
    line-height: 200%;
  }
  .title_text p{
    font-size: 1.86rem;
    line-height: 200%;
  }
  .member_item figure{
    display: none;
  }
  figure.rwd_pic{
    display: block;
    width: 210px;
    height: 210px;
    border-radius: 50%;
    margin-bottom: 2rem;
  }
  figure.rwd_pic img{
    width: 220px;
    height: 220px;
  }
  img.member_title{
    width: 258px;
    margin: 0 auto -2.5rem auto;
  }
  .member_item {
    height: 290px;
    width: 475px;
    border-radius: 11px;
  }
  .member_text {
    font-size: 1rem;
    line-height: 180%;
    margin: 0 2rem;
}
  .flickity-prev-next-button{
    top: 70%;
  }
  .flickity-prev-next-button svg{
    width: 40%;
    height: 40%;
  }
  .hero-slider{
    width: 80%;
    margin-right: 5rem;
  }
  .hero-slider .flickity-prev-next-button .arrow{
    stroke-width: 8px;
  }
  .flickity-prev-next-button.next{
    right: 0;
  }
  .hero-slider .flickity-page-dots{
    display: none;
  }
  img.yellowBlock2{
    width: 0;
  }
    /* footer */
    #fixedTop{
        bottom: 4rem;
        right: 2rem
    }
    footer p{
        font-size: 0.75rem;
    }
    .footer_menu{
        display: none;
    }
    
    .footer_reserve_btn {
        flex-direction: column;
    }
    .footer_reserve_btn img {
        width: 35%;
    }
    .footer_reserve_btn a{
        font-size: 1.06rem;
        padding: 1rem 2rem;
        margin: 1rem 0;
    }
    .footer_reserve_btn{
        margin:1rem 0 5rem 0;
    }
    footer ul{
        margin-left: 2rem;
    }
    .map{
        font-size: 1rem;
    }
    .map a{
        padding: 0.35rem 0.8rem;
        font-size: 0.68rem;
    }
	@keyframes navigation {
		from {
			opacity: 1;
		}

		to {
			opacity: 0;
		}
	}
	.navigation.show {
		display: block;
		animation: show 0.35s both;
	}
	@keyframes show {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}
	.menu {
		flex-direction: column;
		/* 取消玻璃擬態效果 */
		background-color: transparent;
		backdrop-filter: none;
		border: none;
		box-shadow: none;
	}
	.menu a {
		padding: 15px 10px;
	}
}
@media (max-width:767px) {
  /* top按鈕 */
  #fixedTop {
    bottom: 1rem;
    right: 1rem;
}
  /* 導覽列 */
  #topbar{
      padding: 0.2rem;
  }
  img.logo {
    width: 150px;
    height: auto;
  }
  .hamburger {
      padding: 0.1rem 0.5rem;
      margin: 0.5rem;
  }
  .bar {
    width: 20px;
    height: 2px;
    margin: 4px 10px;
    border-radius: 20px;
  }
  .hamburger.is-active .bar:nth-child(1) {
    transform: translateY(6px) rotate(45deg);
  }

  .hamburger.is-active .bar:nth-child(3) {
    transform: translateY(-6px) rotate(-45deg);
  }
  ul.morelogo{
      width: 0%;
  }
  .navigation{
      background-color: rgb(255, 255, 255,0.9);
      top: 69px;
      right: 0;
      padding: 10px 45px;
      border-radius: 25px;
      width: 100%;
      font-size: 1.5rem;
  }
  .reserve_btn{
      margin-left: 0;
  }
  #fixedTop img {
      width: 25px;
      height: 25px;
  }
      /* footer */
  .footer_reserve_btn img {
      width: 180px;
      height: auto;
  }
  .footer_reserve_btn a {
      font-weight: 500;
      font-size: 0.93rem;
      padding: 0.7rem 2.3rem;
  }
  .footer_reserve_btn a img {
      width: 8px;
  }
  .footer_reserve_btn {
      margin-bottom: 1rem;
  }
  .footer_reserve_btn .r_btn{
    background-image: url(../image/rwd390/right_w.png);
    width: 7px;
    height: 12px;
    margin-left: 2rem;
}
  .footer_icon a {
      width: 32px;
      height: 30px;
  }
  .icon-fb {
      background-image: url(../image/rwd390/fb.png);
  }
  .icon-ig {
      background-image: url(../image/rwd390/ig.png);
  }
  .icon-line {
      background-image: url(../image/rwd390/line.png);
  }
  .icon-fb:hover {
    background-image: url(../image/rwd390/fb.png);
  }
  .icon-ig:hover {
      background-image: url(../image/rwd390/ig.png);
  }
  .icon-line:hover {
      background-image: url(../image/rwd390/line.png);
  }
  .map a{
      display: none;
  }
  .map {
      font-size: 0.875rem;
      margin-bottom: 4rem;
  }
  footer{
      padding: 4rem 0 0 0;
  }
  footer p {
      padding: 1rem 5rem;
      line-height: 180%;
      color: #616161;
      background-color: #FFF0CA;
      font-size: 0.75rem;
  }
  /* 會員區 */
  #banner{
    height: 50vh;
  }
  #banner img {
    width: 122px;
  }
  #banner h1{
    font-size: 1.2rem;
    line-height: 200%;
    padding: 0.5rem 1.2rem 0.5rem 2rem;
    border: 4px solid #F0B278;
    margin-top: -1rem;
  }
  img.table {
    width: 311px;
    height: auto;
    margin: 8vh 0;
  }
  #count{
    height: 30vh;
  }
  .number_item p, .number_item1 p, .number_item2 p{
    font-size: 0.9rem;
  }
  p.counter{
    font-size: 1.56rem;
  }
  .num span {
    font-size: 1.43rem;
  }
  .number_item, .number_item1, .number_item2 {
    padding: .5rem 2rem;
  }
  img.orangeBlock{
    width: 0;
  }
  #experience{
    height: 120vh;
    justify-content: space-around;
  }
  .experience_title {
    width: 60%;
  }
  .experience_title img{
    width: 85px;
    height: 85px;
  }
  .title_text span {
    font-size: 1.375rem;
  }
  .title_text p{
    font-size: 1.9rem;
    letter-spacing: 0.1em;
  }
  .hero-slider{
    height: 90vh;
    margin-left: 6rem;
  }
  figure.rwd_pic{
    margin-bottom: 1rem;
  }
  figure.rwd_pic img {
    width: 210px;
    height: 210px;
  }
  img.member_title{
    width: 190px;
    margin-bottom: -1.5rem;
    background-color: #FFFFFF;
  }
  .member_item {
    height: 360px;
    width: 310px;
    border-radius: 7px;
    border: 3px solid #F0B278;
  }
  .member_text {
    font-size: 0.93rem;
    line-height: 200%;
    margin: 0 1.5rem;
  }
  .hero-slider .flickity-prev-next-button {
    display: none;
  }
  .hero-slider .flickity-page-dots{
    display: block;
    bottom: 20px;
  }
  .hero-slider .flickity-page-dots .dot{
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background: #FFE5CD;
  }
}