#reserve_bg{
    width: 100%;
    background-image: url(../image/reserve/reserve-bg.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center bottom;
}
#reserve{
    padding-top: 20vh;
    width: 90%;
    display: flex;
    flex-direction: row;
}
img.logopic{
    width: 20%;
    height: auto;
    margin-bottom: -8vh;
    margin-left: 18rem;
    z-index: 1;
}
img.freepic{
    width: 18%;
    height: auto;
}
p.reserve_p2{
    display: none;
}
.logo_box{
    width: 80%;
    margin-bottom: -20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
h2.reserve_title{
    width: 80%;
    font-weight: 700;
    font-size: 7.625rem;
    line-height: 160%;
    letter-spacing: 0.14em;
    color: #8C4948;
}
#reserve_pic p{
    width: 80%;
    font-weight: 700;
    font-size: 1.1rem;
    line-height: 140%;
    letter-spacing: 0.1em;
    color: #000000;
}
#reserve_pic{
    width: 100%;
    text-align: center;
}
#reserve_from{
    width: 100%;
    box-sizing: border-box;
    font-weight: 700;
    font-size: 1rem;
    line-height: 140%;
    letter-spacing: 0.05em;
    color: #8C4948;
}
.text_box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: .8rem 20px 10px 0;
}
.message_box{
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}
input#username,
input#tel,
input#email{
    width: 300px;
    height: 45px;
    background: #FFFFFF;
    border: 1.6px solid #8C4948;
    border-radius: 80px;

    font-size: 0.875rem;
    color: #9E9E9E;
    padding-left: 10px;
}
#time{
    width: 314px;
    height: 45px;
    background: #FFFFFF;
    border: 1.6px solid #8C4948;
    border-radius: 80px;

    font-size: 0.875rem;
    color: #9E9E9E;
    padding-left: 10px;
}
.label_option{
    color: #000000;
    font-weight: 400;
    font-size: 1rem;
}
#message{
    width: 95%;
    height: 48px;
    border: 1.6px solid #8C4948;
    border-radius: 10px;

    margin-bottom: 12px;
}
small{
    font-weight: 400;
    font-size: 0.8rem;
    color: #000000;
}
#reserve_from button{
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin-top: 20px;
    /* 取消button預設樣式 */
    background-color: transparent;
    border: none;
    padding: 0;
}
#reserve_from .button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 16px 32px;

    position: absolute;
    background: #BDBDBD;
    border: 2.5px solid #BDBDBD;
    border-radius: 80px;
    cursor: pointer;/*鼠標樣式*/
}
.button span{
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.2em;
    color: #FFFFFF;
    margin: 0 20px;
}
.button img{
    width: 24px;
    height: 24px;
    margin-left: 20px;
}
footer {
    background-image: url(../image/reserve/Footer.jpg);
    width: 100%;
}
@media (max-width:1919px) {
    #reserve_bg{
        height: 150vh;
    }
    h2.reserve_title{
        font-size: 4.625rem;
    }
    .logo_box {
        width: 72%;
    }
    img.freepic {
        width: 91.54px;
        height: auto;
    }
    #reserve_pic{
        margin-bottom: 10vh;
    }
    #reserve_pic p {
        font-size: .9rem;
    }
    img.logopic {
        width: 16.5%;
        height: auto;
        margin-bottom: -3.5vh;
        margin-left: 13rem;
    }
    #reserve_from .button{
        padding: 16px 50px
    }
    .button img {
        width: 12px;
        height: 25px;
        margin-left: 50px;
    }
}
@media (max-width:1439px) {
    #topbar button{
        margin-top: 0;
    }
    #reserve{
        width: 75%;
        flex-direction: column;
    }
    h2.reserve_title{
        font-size: 4.875rem;
    }
    #reserve_pic p{
        font-size: .9rem;
    }
    img.freepic{
        width: 14%;
        margin-left: 3rem;
    }
    img.logopic {
        width: 16%;
        margin-bottom: -2vh;
        margin-left: 16rem;
    }
    #reserve_from{
        font-size: 0.9rem;
    }
    input#username, input#tel, input#email{
        width: 250px;
        height: 38px;
    }
    #time{
        width: 265px;
        height: 42px;
    }
    .text_box{
        margin: 0.5rem 15px 8px 0;
    }
    #message{
        width: 95%;
        height: 40px;
    }
    .label_option {
        font-size: 0.9rem;
    }
    small {
        font-size: 0.75rem;
    }
    #reserve_from .button{
        padding: 9px 32px;
    }
    #reserve_from .button span {
        font-size: 1.125rem;
        margin: 0px 30px;
    }
    #reserve_from .button img {
        width: 20px;
        height: 20px;
        margin-left: 15px;
    }
}
@media (max-width:767px) {
    img.logo {
        width: 150px;
    }
    #topbar button{
        margin-top: 0.3rem;
    }
    #reserve_bg{
        height: 50vh;
        margin-bottom: 130vh;
    }
    .logo_box {
        width: 75%;
        flex-direction: row;
        justify-content: flex-end;
    }
    img.logopic {
        margin: 0;
        width: 65.53px;
        height: 65.53px;
    }
    img.freepic {
        width: 72.36px;
        height: 60.49px;
        margin: -75px 10px 0 0;
    }
    h2.reserve_title {
        font-size: 3.125rem;
    }
    p.reserve_p1 {
        display: none;
    }
    #reserve_pic p.reserve_p2 {
        display: block;
        font-size: .8rem;
    }
    .message_box {
        flex-direction: column;
        align-items: flex-start;
        margin: 0;
    }
    input#username, input#tel, input#email{
        width: 145%;
    }
    #time{
        width: 310%;
    }
    #reserve_from{
        margin-top: 15vh;
    }
    .text_box label{
        margin-bottom: .5rem;
    }
    .label_option {
        font-size: .9rem;
    }
    input[type="radio" i] {
        width: 17px;
        height: 17px;
    }
    footer {
        background-image: url(../image/Footer-bg.jpg);
    }
}